{# Extends base.html as that is our base website design #}
{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content %}
<h2>{{ current_user.role }} Home</h2>
{% if current_user.role == "Worker" %}
<p>Worker screen</p>
{% endif %}
{% if current_user.role == "Driver" %}
<p>Driver screen</p>
{% endif %}

<!-- FEMA REP SCREEN -->
{% if current_user.role == "FEMA Representative" %}
<h3 align="center">Request Donation</h3>
<form method="POST">
    <div class="form-group">
        <div>
            <label for="name">Item Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div>
            <label for="quantity_needed">Quantity Needed:</label>
            <input type="number" id="quantity_needed" name="quantity_needed" class="form-control" required>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary m-3">Request Item</button>
        </div>
        
    </div>
  </form>
  
{% endif %}
{% if current_user.role == "Donor" %}
<p>Donor screen</p>
{% endif %}



<h3 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')"> 
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}